<!-- prettier-ignore -->
<% var data = { 
title: "Обучение астрологии для начинающих с нуля: курсы астролога онлайн", 
description: "Обучение астрологии для начинающих с нуля: курсы астролога онлайн", 
url: "/",
image: "/",
canonical: "index.html" }; %>
<!DOCTYPE html>
<html lang="ru-RU">

<head>
  <%= _.template(require('./../includes/head.html').default)(data) %>
  <base href="<%= htmlWebpackPlugin.options.base %>" />
</head>

<body>
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <main>
    <article>
      <div itemscope="" itemtype="http://schema.org/Article">
        <div itemprop="articleBody" class="page">
          <!-- -- -->
          <section style="top: -4px">
            <div class="jumbotron d-flex align-items-center">


              <div class="container text-center">

                <h1>
                  Астростудия - технологическая образовательная платформа для обучение астрологии
                </h1>
                <p class="mission">
                  Наша миссия — дать людям качественные знания в области астрологии для развития личности и других
                  сфер своей жизни.
                </p>
              </div>

              <!-- Slider -->
              <div class="swiper-container">
                <div class="swiper-wrapper">
        
                  <div class="card cardd-one swiper-slide">

                    <figure class="cardd-image one" data-swiper-parallax="-400"></figure>
                    <figure class="cardd-image two" data-swiper-parallax="-1400"></figure>
                    <figure class="cardd-image three" data-swiper-parallax="-2000"></figure>
                    <figure class="cardd-image four" data-swiper-parallax="-2600"></figure>
                    <p class="card-name" data-swiper-parallax="-100">Символический<br> гороскоп</p>
                    <p class="card-text" data-swiper-parallax="-150">Символы на</p>
                    <p class="card-text" data-swiper-parallax="-200">Натальной карте</p>
                  </div>
        
                  <div class="card cardd-two swiper-slide">

                    <figure class="cardd-image one" data-swiper-parallax="-400"></figure>
                    <figure class="cardd-image two" data-swiper-parallax="-1400"></figure>
                    <figure class="cardd-image three" data-swiper-parallax="-2000"></figure>
                    <figure class="cardd-image four" data-swiper-parallax="-2600"></figure>
                    <p class="card-name" data-swiper-parallax="-100">Натальная<br> карта</p>
                    <p class="card-text" data-swiper-parallax="-150">Составте свою </p>
                    <p class="card-text" data-swiper-parallax="-200">Натальная карта онлайн</p>
                    <a class="card-link" data-swiper-parallax="-250" href="" target="_blank">Построить карту &rarr;</a>
                  </div>
        
                </div>
        
                <div class="swiper-pagination"></div>
              </div>
              <!-- *Slider -->

              <div class="rectangle-1"></div>
              <div class="rectangle-2"></div>
              <div class="rectangle-transparent-1"></div>
              <div class="rectangle-transparent-2"></div>

            </div>
          </section>
          <!-- -- -->

          <section>
            <!-- <img class="main-photo" src="img/astrolog-nadejda-yzuta.png" /> -->


<div class="panel pricing-table">
  <div class="pricing-plan">
<!-- --- -->
<div class="Section-quote Section-quote--vertical col-sm-12">
  <div class="Section-quotePhoto Section-quotePhoto--slack"></div>

  <div class="Quote Quote--slack">
    <p>
      As Slack grows rapidly, using Stripe helps them scale payments
      easily—supporting everything from getting paid by users around the
      world to enabling ACH payments for larger customers.
    </p>
  </div>
</div>
<!-- --- -->
  </div>
  <div class="pricing-plan">
    <div class="natalchart">
      <%= _.template(require('./../includes/round.html').default)(data)%>
      <div class="sun"></div>
      <div class="natalchart__text">
        <h2>Астропроцессор</h2>
        <p>
          Натальная карта <br />
          <small> составить онлайн</small>
        </p>
      </div>
      <a href="horoscope-create/"></a>
    </div>
  </div>
</div>
          </section>


          <button class="popup-show button-design" data-popup="contact" data-content="Кнопка Оставить заявку 1">
            <span></span><span></span><span></span><span></span>Оставить
            <br />заявку
          </button>

          <h2 class="title-h2">Тарифы</h2>
          <section class="column">
            <div class="panel pricing-table">
              <div class="pricing-plan">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#course-junior"></use>
                </svg>
                <h2 class="pricing-header">Образовательная программа I<br>«Кто Я»</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item show-title">
                    3 месяца
                  </li>
                  <li class="pricing-features-item show-title">20 онлайн-занятий</li>
                  <li class="pricing-features-item show-title">Живые встречи онлайн + доступ к уроку в записи</li>
                  <li class="pricing-features-item show-title"> &gt;100 pdf-файлов</li>
                  <li class="pricing-features-item show-title">достаточно желания<br> и мотивации<br></li>
                  <li class="pricing-features-item show-title">Личный кабинет, общий чат курса</li>
                  <li class="pricing-features-item pricing-false" title="Все включено">Бесплатный доступ к астропроцессору</li>
                  <li class="pricing-features-item pricing-false" title="Возможность задать вопрос в отдел разработки">Обратная связь с отделом разработки</li>
                </ul>
                <div class="pricing-button hexagon-wrapper" data-popup="contact" data-tippy-content="Отправить заявку" aria-expanded="false">
                  <div class="hexagon popup-show" data-popup="contact" data-content="Тариф Las Vegas за 17 000">
                    <span class="pricing-price">Смотреть <br>курс →</span>
                  </div>
                </div>
              </div>
              <div class="pricing-plan">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#course-middle"></use>
                </svg>
                <h2 class="pricing-header">Образовательная программа II<br> Курс «Что меня ждёт»</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item show-title">
                    3 месяца
                  </li>
                  <li class="pricing-features-item show-title">20 онлайн-занятий</li>
                  <li class="pricing-features-item show-title">Живые встречи онлайн + доступ к уроку в записи</li>
                  <li class="pricing-features-item show-title"> pdf-презентация к каждому уроку</li>
                  <li class="pricing-features-item show-title">Начинающий астролог, «уже проходил какие-то курсы», «освоил программу курса «Кто Я» у Надежды))»</li>
                  <li class="pricing-features-item show-title">Личный кабинет, общий чат курса</li>
                  <li class="pricing-features-item pricing-false" title="Все включено">Бесплатный доступ к астропроцессору</li>
                  <li class="pricing-features-item pricing-false" title="Возможность задать вопрос в отдел разработки">Обратная связь с отделом разработки</li>
                </ul>
                <div class="hexagon-wrapper pricing-button" data-tippy-content="Отправить заявку" aria-expanded="false">
                  <div class="hexagon popup-show" data-popup="contact" data-content="Тариф Las Vegas City за 34 000">
                    <span class="princig-price">Смотреть <br>курс →</span>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <h2 class="title-h2">Наши преимущества</h2>

          <section class="col-two column">
            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-practice"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Большой опыт в организации и проведении.<br />
                Мы провели более 200 мероприятий!
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-clock"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Ответственный подход к делу: строго соблюдаем тайминг, решаем
                возможные проблемы на уровне планирования, а не работаем с
                последствиями.
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-maintenance"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Привозим исправное оборудование, вовремя проводим
                техобслуживание, меняем сукно и т.д.
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-appearance"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Следим за внешним видом своих сотрудников (корпоративная
                форма, опрятность и приятное общение).
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-recommendation"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Работаем, чтобы получить ваши рекомендации.
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-croupier"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Профессиональные крупье, которые получают удовольствие от
                работы.
              </div>
            </div>
          </section>
          <!-- /НАШИ ПРЕИМУЩЕСТВА -->

          <button class="popup-show button-design" data-popup="contact" data-content="Кнопка Оставить заявку 2">
            <span></span><span></span><span></span><span></span>Оставить
            <br />заявку
          </button>

          <!-- Этапы работ -->
          <h2 class="title-h2">Этапы выполнения работ</h2>
          <section class="col-three column">
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-1"></use>
                </svg>
              </div>
              <div class="col-three__text"><b>1.</b> Вы звоните.</div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-2"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>2.</b> Мы обсуждаем детали, договариваемся.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-3"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>3.</b> Вовремя приезжаем и монтируем площадку.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-4"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>4.</b> Проводим мероприятие, дарим эмоции.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-5"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>5.</b> Вручаем призы. Демонтируем.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-6"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>6.</b> Ваши коллеги и гости вспоминают отличный вечер.
                Благодарят. И оставляют отзывы)
              </div>
            </div>
          </section>
          <!-- /Этапы работ -->


        </div>
      </div>
    </article>
  </main>

  <%= _.template(require('./../includes/footer.html').default)(data) %>
  <!-- prettier-ignore -->
  <%=_.template(require('./../includes/script.html').default)(data) %>
</body>

</html>